<h2>Expenses</h2>
<button (click)="showForm()">Add Expense</button>
<button (click)="hideForm()">Reset</button>
<div class="expenses-from" *ngIf="visible">
  <form action="">
    <input type="text" placeholder="Name">
    <input type="text" name="" placeholder="Price">
    <select name="" id="">
      <option value="">Type</option>
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="monthly">Monthly</option>
      <option value="yearly">Yearly</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</div>
<table>
  <tr>
    <td>Name</td>
    <td>Price</td>
    <td>Type</td>
  </tr>
</table>
